@use "../abstract/variables";
@use "../abstract/mixins";

@mixin sdbar {
  .active{
    height: 100vh;
  }
  .sdbar_sctn {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.267);
    position: fixed;
    width: 320px;
    .sdbar_logo {
      border-bottom: 1px solid rgba(0, 0, 0, 0.267);
      padding-left: 40px;
      display: flex;
      align-items: center;
      i{
        display: none;
      }
    }
    div {
      line-height: 35px;
      padding-left: 40px;

      p {
        font-weight: 500;
        font-size: 16px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}

@include mixins.media-sm {
  #sdbar_sctn {
    width: 100%;
    background-color: variables.$bg-color;
    z-index: 999;
    justify-content: start;
    gap: 20px;
    overflow: hidden;
    height: 6.3vh;
    @include mixins.trsn-ease;
    .sdbar_logo{
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      padding-left: 20px;
      #menu{
        display: block;
        z-index: 999;
        cursor: pointer;
      }
      
    }
    div {
      line-height: 35px;
      padding-left: 40px;

      p {
        font-weight: 500;
        font-size: 16px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
@include mixins.media-exl {
  #sdbar_sctn {
    width: 320px;
    background-color: variables.$bg-color;
    z-index: 999;
    gap: 20px;
    height: 100vh;
    @include mixins.trsn-ease;
    .sdbar_logo{
      padding-left: 40px;
      #menu{
        display: none;
      }
      
    }
    div {
      line-height: 35px;
      padding-left: 40px;

      p {
        font-weight: 500;
        font-size: 16px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
